.WriteForm {
  width: 530px;
  margin: 0 auto;

  input[type="text"],
  input[type="password"],
  textarea,
  input[type="submit"] {
    display: block;
    outline: none;
    border: 1px solid #A9A9A9;
    padding: 5px;
    width:518px;
    margin-bottom: 10px;
  }

  textarea {
    resize: none;
    height: 80px;
  }

  input[type="submit"] {
    width: 100%;
    background-color: #fff;
    font-weight: bold;
    color: #846B5C;
    cursor: pointer;

    &:hover {
      background-color: #65B791;
      color: #fff;
    }
  }
}